data/feret_embeddings*

data/diveface*

data/myselection*

data/utkface*

plot/*.jpg

plot/*.pdf

plot/tsne/

.idea/

*/__pycache__/

results/

scratch.py

data/train*.csv

data/test*.csv

data/diveface*.csv

data/feret*.csv

data/utkface*.csv

data/old/