data/feret_embeddings*

data/diveface*

data/myselection*

data/utkface*

.idea/

*/__pycache__/

results/

plot/*.pdf

scratch.py

data/train*.csv

data/test*.csv

data/diveface*.csv

data/feret*.csv

data/utkface*.csv

data/old/